@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 70%;
    font-family: "Shadows Into Light", cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*     height: 100vh; */
    /*     margin: 0; */
}

.ctn {
    position: relative;
    margin: 6rem auto;
    min-width: 700px;
    width: 60%;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: initial;
    color: #DBBC5F;
    font-size: 4rem;
}

.display-word {
    text-align: initial;
    font-size: 40px;
    margin: 1.5rem 0 2.5rem 0;
}

.attempts-remaining {
    text-align: left;
    margin-bottom: 15px;
    font-size: 32px;
}

#hangman-img {
    width: 160px;
    position: absolute;
    top: -4px;
    left: 510px;
    color: black;
}

@media (max-width: 1080px) {
    #hangman-img {
        max-width: 160px;
        position: absolute;
        top: -4px;
        left: 500px;
        transform: translateX(-50%);
    }
    .ctn {
        position: relative;
        min-width: 80%;
    }
}

@media (max-width: 768px) {
    #hangman-img {
        max-width: 160px;
        position: absolute;
        top: -4px;
        left: 420px;
        transform: translateX(-50%);
    }
    .ctn {
        position: relative;
        min-width: 90%;
    }

}

.alphabet-ctn {
    border-radius: 6px;
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(12, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    place-content: center;
    margin-bottom: 2rem;
}
/*
.letter {
    font-family: "Shadows Into Light", cursive;
    background-color: #DBBC5F;
    color: white;
    border: none;
    width: 45px;
    margin: 1px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 35px;
    transition: background-color 0.3s;
}
*/
.letter {
    font-family: "Shadows Into Light", cursive;
    background-color: #DBBC5F;
    color: white;
    border: none;
    width: 38px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 3rem;
    transition: background-color 0.3s;
}

.letter:hover {
    background-color: #C7D2F2;
}

.letter.btn-clicked {
    color: #000;
    position: relative;
}

.letter.btn-clicked::before {
    content: "X";
    position: absolute;
    font-size: 60px;
    bottom: -12px;
    left: 0px;
    color: rgb(214, 60, 60);
    opacity: .85;
}

.reveal-word {
    font-size: 50px;
    display: none;
}

.active {
    display: block;
}

.reset, .menu {
    font-family: "Shadows Into Light", cursive;
    background-color: white;
    color: #DBBC5F;
    border: 2px solid #DBBC5F;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.menu {
    margin-left: 1rem;
}

.reset:hover, .menu:hover {
    background-color: #DBBC5F;
    color: white;
}