@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 70%;
    font-family: "Shadows Into Light", cursive;
}

body {
    background-color: #C7D2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    /*     height: 100vh; */
    /*     margin: 0; */
}

.ctn {
    width: 60%;
    position: relative;
    margin: 50px;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: initial;
    color: #DBBC5F;
    margin-bottom: 1rem;
    font-size: 4rem;
}

.display-word {
    text-align: initial;
    font-size: 3rem;
    margin: 2.5rem 0 3.5rem 0;
}

.attempts-remaining {
    text-align: initial;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

#hangman-img {
    width: 160px;
    position: absolute;
    top: -4px;
    left: 524px;
    color: black;
}

.alphabet-ctn {
    border-radius: 6px;
    width: 100%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(12, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    place-content: center;
    margin-bottom: 2rem;
}

.letter {
    font-family: "Shadows Into Light", cursive;
    background-color: #DBBC5F;
    color: white;
    border: none;
    width: 45px;
    margin: 1px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 40px;
    transition: background-color 0.3s;
}

.letter:hover {
    background-color: #C7D2F2;
}

.letter.btn-clicked {
    color: #000;
    position: relative;
}

.letter.btn-clicked::before {
    content: "x";
    position: absolute;
    font-size: 60px;

    bottom: -7px;
    color: red;
    opacity: .8;
}

.reveal-word {
    font-size: 50px;
    display: none;
    margin-bottom: 2rem;
}

.active {
    display: block;
}

.reset {
    font-family: "Shadows Into Light", cursive;
    background-color: white;
    color: #DBBC5F;
    border: 2px solid #DBBC5F;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 50px;
    transition: background-color 0.3s, color 0.3s;
}

.reset:hover {
    background-color: #DBBC5F;
    color: white;
}