@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@371&family=Jersey+15&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 68%;
    font-family: "Jersey 15";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344E41;
}

.ctn {
    position: relative;
    margin: 6rem auto;
    min-width: 700px;
    width: 60%;
    background-color: #588157;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: initial;
    color: #DAD7CD;
    font-size: 4rem;
}

.display-word {
    text-align: initial;
    font-size: 40px;
    margin: 1.5rem 0 2.5rem 0;
}

.attempts-remaining {
    text-align: left;
    margin-bottom: 15px;
    font-size: 32px;
}

#hangman-img {
    width: 150px;
    position: absolute;
    top: -22px;
    left: 510px;
    color: black;
}

@media (max-width: 1080px) {
    #hangman-img {
        max-width: 150px;
        position: absolute;
        left: 500px;
        transform: translateX(-50%);
    }
    .ctn {
        position: relative;
        min-width: 80%;
    }
}

@media (max-width: 768px) {
    #hangman-img {
        max-width: 120px;
        position: absolute;
        left: 375px;
        top: 5px;
        transform: translateX(-50%);
    }
    .ctn {
        position: relative;
        min-width: 90%;
    }

}

.alphabet-ctn {
    border-radius: 6px;
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(12, auto);
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    place-content: center;
    margin-bottom: 2rem;
}

.letter {
    font-family: "Jersey 15";
    background-color: #DBBC5F;
    color: white;
    border: none;
    width: 38px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 3rem;
    transition: background-color 0.3s;
}

.letter:hover {
    background-color: #C7D2F2;
}

.letter.btn-clicked {
    color: #000;
    position: relative;
}

.letter.btn-clicked::before {
    content: "X";
    position: absolute;
    font-size: 40px;
    bottom: -8px;
    left: 5px;
    color: rgb(214, 60, 60);
    opacity: .9;
    font-family: 'Arial', sans-serif;
}

.reveal-word {
    font-size: 50px;
    display: none;
}

.active {
    display: block;
}

.reset, .menu {
    font-family: "Jersey 15";
    background-color: white;
    color: #DBBC5F;
    border: 2px solid #DBBC5F;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.menu {
    margin-left: 1rem;
}

.reset:hover, .menu:hover {
    background-color: #DBBC5F;
    color: white;
}
.recordsinfo .button {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    border: 3px solid #352e5b;
    border-radius: 15px;
    padding: 8px;
    background-color: #DBBC5F;
    text-decoration: none;
    color: #282345;
    font-family: 'Inconsolata';
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    font-family: "Inconsolata";
    font-size: 18px;
}

.recordsinfo .button:hover {
    background-color: #eae4d3;
}

.recordsinfo h1 {
    text-align: center;
    color: #352e5b;
    margin-bottom: 45px;
    margin-top: 15px;
    font-size: 45px;
}

.recordsinfo {
    font-family: 'Jersey 15';
    background-color: #C7D2F2;
}

.recordsinfo .ctn {
    position: relative;
    margin: 9rem auto;
    max-width: 750px;
    background-color: #588157;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.temabody {
    background-color: #588157;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tema {
    padding: 20px;
    width: 24vw;
    height: 48vh;
    position: relative;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease-in-out;
    display: flex;
    top: 35px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.tema:hover {
    transform: scale(1.05);
}
.tema h1, .tema a {
    font-size: 3.3vw;
    font-family: 'Inconsolata';
    color: #DAD7CD;
    text-shadow: 3px -1px 0px black;
}
.temactn {
    margin: 20px;
    max-width: 95vw;
    min-height: 70vh;
    display: flex;
    position: relative;
    background-color: #344E41;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    top: 55px;
}
#temakcim {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color:#352e5b;
}
#tenger
{
    background-image: url(img/tenger.jpg);
}

#ur
{
    
    background-image: url(img/ur.jpg);
}

#orszag
{
    
    background-image: url(img/orszag.jpg);
}

.indexbody ul {
    list-style-type: none;
    margin-bottom: 45px;
    padding: 0;
    text-align: center;
}

.indexbody .button {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    border: 3px solid #352e5b;
    border-radius: 15px;
    padding: 8px;
    background-color: #A3B18A;
}

.indexbody li {
    margin-top: 10px;
}

.indexbody a {
    text-decoration: none;
    color: #DAD7CD;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    font-weight: bold;
}

.indexbody .button:hover {
    background-color: #eae4d3;
    cursor: pointer;
    color: black;
}

.indexbody h1 {
    text-align: center;
    color: #DAD7CD;
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 45px;
}

.indexbody {
    font-family: "Jersey 15", sans-serif;
    background-color: #344E41;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Set the container height to 100% of the viewport height */
;
}

.indexbody .ctn {
    position: relative;
    margin: 10rem auto;
    max-width: 800px;
    background-color: #588157;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal-content h2 {
    font-family: 'Jersey 15', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: #DAD7CD;
}
.modal-content p {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #ded7be;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid #DAD7CD;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
}

.close {
    color: gray;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}